img { height: 200px;
width: 200px;}

#grid_container { 
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: black;
    padding: 10px;
}

p {
    color: white;
}

a{
    color: yellow;
}

#farverød {
    color: red;
}

table {
    width: 500;
}

.fill {
    font-size: 100%;
    color: black;
}

a.fill {
    color: royalblue;
}