<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Lektion20_Sammenhæng_mellem_klasser/src/group01_0mperson/Test_G01_0mP.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="group01_0mperson.Test_G01_0mP"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Lektion20_Sammenhæng_mellem_klasser"/>
</launchConfiguration>
