#userlist {
    max-height: 50%;
    overflow: hidden;
    font-size: 16pt;
    max-width: 100% ;
    margin: auto;
    list-style-type: none;
    padding-left: 20px;
    text-align: center;
    overflow-y: scroll;
    border-style: solid;
    display: grid;
    padding-top: 8px;
}

.users h4{
    text-align: center;
}

.selected{
    background: #4CAF50;
}