.trainingForms{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto; 
    row-gap: 50px;
    padding-top: 8px;
}

.center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    position: relative;
}

.title{
    text-align: center;
  }
