include header
  include ../css/CreateUser.css
body
  .createUser
    h1 Opret ny bruger
    form(action="createNewUser" method="post")
        .admin
            label Admin:
            input(type="radio" id="false" name="admin" value="0" checked) 
            label(for="false") False
            input(type="radio" id="true" name="admin", value="1")
            label(for="true") True
        input(type="text" name="name" placeholder="Navn" required)
        input(type="text" name="email" placeholder="E-mail")
        input(type="text" name="username" placeholder="Username" required)
        input(type="password" name="password" placeholder="Password" required)
        input(type="password" name="repeatPassword" placeholder="Gentag password" required)
        if error
          .alert
            p #[strong Error!] #{error}
        .title
            label Vælg stilling:
            br
            input(type="checkbox" id="leder" name="stilling" value="leder")
            label(for="leder") Leder
            input(type="checkbox" id="instruktoer" name="stilling" value="instruktoer")
            label(for="instruktoer") Instruktør
            input(type="checkbox" id="rengoering" name="stilling" value="rengoering")
            label(for="rengoering") Rengøring

        input(type="submit" value="Opret bruger")

